DATABASE_URL=postgresql+asyncpg://user:pass@db:5432/relaymail
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DOMAIN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
RESEND_API_KEY=
TURNSTILE_SECRET_KEY=
FRONTEND_URL=