fastapi
uvicorn[standard]
pydantic[email]
python-jose
sqlalchemy
asyncpg
alembic
passlib
pydantic
python-dotenv
pydantic-settings
authlib
httpx
resend
psycopg2-binary
pytest
pytest-asyncio
bcrypt==4.0.1